body {
  font-family: "Roboto";
  background-color: #031633;
  color: white;
  width: 600px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img {
  height: 250px;
  width: 250px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.2rem;
}
/*h2 span  {
  position: relative;
}
h2 span:after {
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 99rem;
  position:absolute;
  top:-15px;
  right: -15px;
  content: "";
} Test after */ 
h3 {
  font-size: 1.1rem;
  font-weight: lighter;
}

ul {
  padding-top: 0.5em;
  list-style: none;
}

a {
  text-decoration: none;
  color: yellow;
  font-weight: 500;
}

.main {
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
}
.detalles {
  justify-content: flex-start;
}
.series {
  padding-top: 1.5em;
}
.pelis {
  padding-top: 1.5em;
}
.perfil {
  padding-top: 1.5em;
}
footer {
  padding-top: 1.5em;
}
